*
{
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
   
    position: relative;
    overflow: hidden;

}
#acerca
{
    height: 75vh;
}  
  
    #acerca a
    {
        text-decoration: none;
        color:var(--color-blanco);
        
    }
        #acerca a:hover    
        {
            color:var(--color-blanco)
        }
    #acerca p    
    {
        color:var(--color-blanco);
    }    
footer
{
    
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}    
    footer img{
        width: 74px;
    }  
    footer a{
        text-decoration: none;
    } 
    footer a:hover{
        color:var(--color-blanco)
    }  


.invisibles
{
   
    visibility: hidden;
    display: none;
    
}
@media only screen and (max-width: 700px) 
{
    #acerca
    {
        height: 100vh;

    }
   
    .visible
    {
        
        visibility: hidden;
        display: none;
        
    }
    
    .invisibles
    {
        
        visibility: visible;
        display: inline-block;
       
        
    }
}