* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg-degradado {
    background: var(--color-azul-1);
    background: radial-gradient(circle, var(--color-azul-1) 0%, var(--color-azul-2) 100%);
}

.text-azul-1 {
    color: var(--color-azul-1);
}

.texto-blanco {
    color: var(--color-blanco);
}