.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.p-8 {
    padding: 0.5rem;
}

.btn-closed {
    padding: .5rem .5rem !important;
    margin : -.5rem -.5rem -.5rem 0 !important;
}

.width_50 {
    width: 50%;
}