*
{
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.corner_radius
{
    border-radius: 5px;
}
.registrarse_container_form
{
    height: 100vh;
}