.texto-blanco {
    color: var(--color-blanco);
}

.texto-rojo-1 {
    color: var(--color-rojo-1);
}

.text-azul-3 {
    color: var(--color-azul-3);
}

.text-gris {
    color: var(--color-gris);
}

.text-negro {
    color: var(--color-negro);
}

.text-transparent {
    color: var(--transparent);
}

.text-size {
    font-size: 1rem;
}
.text-azul-1
{
    color:var(--color-azul-1);
}